#############################   PUPPET MANAGED   #############################
####This file is managed by Puppet. Please don't change it by hand.
##############################################################################

<% @main.each_pair do |k, v| %><%= k -%> = <%= v %>
<% end %>
